spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/discordbot
    username: pguser
    password: pguser
  jpa:
    hibernate:
      ddl-auto: validate
    # show-sql: true
  # for tests and development: let flyway search for the flyway_schema_history table in the right schema
  flyway:
    schemas:
      - wordchaingame
      - discordbot

zonky:
  test:
    database:
      postgres:
        docker:
          image: postgres:16.9


# The following values have to be configured in a config/application.yml
# on the target machine. See config/application-prod.yml.template for details.
#
# Here,
# 1. some default values are provided so that the App can start locally
#    without having to configure anything.
# 2. Environment variables may override the default values for integration/e2e testing.

bot-auth.token: ${AUTH_TOKEN:offline}

logging:
  guild-id: ${GUILD_ID:0}
  channel-id: ${LOGGING_CHANNEL_ID:0}

admin:
  role-id: ${ADMIN_ROLE_ID:0}
  channel-id: ${ADMIN_CHANNEL_ID:0}

word-checker.user-agent: ${WIKTIONARY_USER_AGENT:set-me}
