name: Build

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
      pull-requests: write
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Set up Docker Compose
      uses: docker/setup-compose-action@v1.2.0
    - name: Build with Gradle
      run: ./gradlew build -x app:integTest -x app:e2eTest
    - name: Run integration tests
      run: ./gradlew app:integTest -x app:e2eTest
    - name: Run end-2-end tests
      if: ${{ github.repository == 'dagadeta/discord-bot' }}
      env:
        AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        GUILD_ID: ${{ vars.GUILD_ID }}
        LOGGING_CHANNEL_ID: ${{ vars.LOGGING_CHANNEL_ID }}
        WORDCHAINGAME_CHANNEL_ID: ${{ vars.WORDCHAINGAME_CHANNEL_ID }}
      run: ./gradlew app:e2eTest
    - name: Test Report
      uses: dorny/test-reporter@v2.3.0
      if: ${{ !cancelled() }}  # run this step even if a previous step failed
      with:
        name: JUnit Tests
        path: ${{ github.workspace }}/**/build/test-results/**/TEST-*.xml
        reporter: java-junit
    - name: Add coverage to PR
      id: jacoco
      uses: madrapps/jacoco-report@v1.7.2
      with:
        paths: ${{ github.workspace }}/**/build/reports/kover/report.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 60
        title: Code Coverage
        update-comment: true
        comment-type: ${{ github.event_name == 'pull_request' && 'both' || 'summary' }}
        fail-emoji: ':apple:'
        pass-emoji: ':green_apple:'
